@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.stats-wraper * {
    font-family: Lato;
}

.time-comparison {
    width: 600px;
    height: calc(var(--bar-height) * 2);
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(24, 1fr);
    grid-template-areas: "planed-time""recorded-time";
    position: relative;

    padding: 5px;
}

.show-two-days {
    grid-template-columns: repeat(48, 1fr);
}

.time-comparison {
    border-color: gray;
    border-width: 1px;
    border-style: solid;

    border-radius: 4px;
}

.time-comparison>.planed {
    grid-area: planed-time;
}

.time-comparison>.recorded-time {
    grid-area: recorded-time;
}

.time-comparison>.planed,
.time-comparison>.recorded-time {
    grid-column-start: calc(var(--start-time) + 1);
    grid-column-end: calc(var(--end-time) + 1);

    position: relative;

    background-color: rgb(var(--color));

    border-radius: calc(var(--bar-height) * 0.5);
}

.time-comparison>.planed {
    background-color: rgba(var(--color), 0.5);
}

.time-comparison>.start-time-next-day {
    grid-column-start: calc(var(--start-time) + 25);
}

.time-comparison>.end-time-next-day {
    grid-column-end: calc(var(--end-time) + 25)
}

.time-comparison>div span {
    position: absolute;
    display: inline-table;

    right: 0;
    top: 50%;
    transform: translate(100%, -50%);

    background-color: white;
    z-index: 100;

    font-size: 0.9em;
    color: black;
}

.time-comparison>div span.from {
    left: 0;
    transform: translate(-100%, -50%);
}

.stats-wraper span {
    padding: 0 var(--timespan-gap);

    font-size: 0.75em;
    color: gray;
    white-space: nowrap;
}

.time-comparison-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.center {
    height: calc(var(--bar-height) * 2 + 10px);
    border-left-color: gray;
    border-left-width: 1px;
    border-left-style: dashed;
    position: absolute;
    padding: 0;
}

span.center>* {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    padding: 0 var(--timespan-gap);
}

.stats {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
}

.stats>span[class^="color-swatch"] {
    position: relative;
    color: black;
    margin-right: calc(var(--bar-height) * 0.5);
}

.stats>span[class^="color-swatch"] i {
    color: gray;
}

.stats>span[class^="color-swatch"]::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: rgb(var(--color));
    width: calc(var(--bar-height) * 0.5);
    height: calc(var(--bar-height) * 0.5);
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
}

.stats>.color-swatch-planed::before {
    background-color: rgba(var(--color), 0.5) !important;
}

.stats-wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    gap: 10px;
}

.task-indicator {
    min-width: 20px;
    border-radius: 4px;
    background-color: rgb(var(--color));
    color: white !important;
    font-size: 1em !important;
    display: flex;
    justify-content: center;
}