.time-comparison {
    width: 500px;
    height: calc(var(--bar-height) * 2);
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(24, 1fr);
    grid-template-areas: "planed-time""recorded-time";
    position: relative;

    padding: 5px;
}

.show-two-days {
    grid-template-columns: repeat(48, 1fr);
}

.time-comparison,
.show-border {
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
}

.time-comparison>.planed {
    grid-area: planed-time;
}

.time-comparison>.recorded-time {
    grid-area: recorded-time;
}

.time-comparison>.planed,
.time-comparison>.recorded-time {
    grid-column-start: calc(var(--start-time) + 1);
    grid-column-end: calc(var(--end-time) + 1);

    position: relative;

    background-color: var(--color);
}

.time-comparison>.end-time-next-day{
    grid-column-end: calc(var(--end-time) + 25)
}

.time-comparison>div span {
    position: absolute;
    display: inline-table;

    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
}

.time-comparison>div span.from {
    left: 0;
    transform: translate(-100%, -50%);
}

.time-comparison-wraper span {
    padding: 0 var(--timespan-gap);
}

.time-comparison-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.center {
    height: calc(var(--bar-height) * 2);
    border-left: 1px lightgray dashed;
    text-align: center;

    position: absolute;
    padding: 0;
}

span.center>b {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    padding: 0 var(--timespan-gap);
}